<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Banquinho do SID</title>
        <link href="style.css" rel="stylesheet"></link>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="fundo-principal">
                <h1 class="titulo">Banquinho do SID</h1>

                <div class="overlay" v-show="mostrarOverlay">
                    <div class="modal">
                        <div class="modal-header">
                            <h1 class="boraBanquinho">--- Bora banquinho! :) ---</h1>
                            <input type="text" v-model="nomeDigitado" placeholder="Nome do Jogador">
                            <button @click="adicionarJogador()">Adicionar</button>
                            <button @click="iniciarJogo()">Iniciar Jogo</button>
                        </div>
                        <div class="listaJogadores" id="listaJogadores">
                            <div class="jogador" v-for="jogador in jogadores" :key="jogador.nome">
                                {{jogador.nome}}
                            </div>
                            <img src="sid.png" alt="Imagem do SID" id="imagem-sid" class="imagem-sid" v-show="jogadores.length === 0">
                        </div>
                    </div>
                </div>

                <player-card
                    v-for="jogador in jogadores"
                    :key="jogador.nome"
                    :nome="jogador.nome"
                    :dinheiro="jogador.dinheiro">
                </player-card>

                <div v-show="mostrarBannerPix" id="bannerPix" class="banner-oculto" >
                    <p>PIX</p>
                    <form>
                        <select v-model="nomeDe" placeholder="De">
                            <option v-for="jogador in jogadores" :key="jogador.nome" :value="jogador.nome">
                                {{jogador.nome}}
                            </option>
                        </select>
                        <select v-model="nomePara" placeholder="Para">
                            <option v-for="jogador in jogadores" :key="jogador.nome" :value="jogador.nome">
                                {{jogador.nome}}
                            </option>
                        </select>
                        <input v-model="valorPix" type="number" placeholder="Valor">
                    </form>
                    <button @click="fazerPix()">Fazer Pix</button>
                    <button @click="fecharBannerPix()">Fechar</button>
                </div>

                <div v-show="mostrarBannerAdd" class="banner-oculto">
                    <p>farma: :)</p>
                    <form>
                        <select v-model="nomeSelecionado" placeholder="Jogador">
                            <option v-for="jogador in jogadores" :key="jogador.nome" :value="jogador.nome">
                                {{jogador.nome}}
                            </option>
                        </select>
                        <input v-model="valorAdcionar" type="number" placeholder="Valor">
                    </form>
                    <button @click="adcionar()">Add</button>
                    <button @click="fecharBannerAdd()">Fechar</button>
                </div>

                <div v-show="mostrarBannerRem" class="banner-oculto">
                    <p>poxa :(</p>
                    <form>
                        <select v-model="nomeRemover" placeholder="Jogador">
                            <option v-for="jogador in jogadores" :key="jogador.nome" :value="jogador.nome">
                                {{jogador.nome}}
                            </option>
                        </select>
                        <input v-model="valorRemover" type="number" placeholder="Valor">
                    </form>
                    <button @click="remover()">Remover</button>
                    <button @click="fecharBannerRem()">Fechar</button>
                </div>

                <div v-show="mostrarBannerFal" class="banner-oculto">
                    <p>Tempos melhores virão :(</p>
                    <select v-model="nomeFalir" placeholder="Jogador">
                        <option v-for="jogador in jogadores" :key="jogador.nome" :value="jogador.nome">
                            {{jogador.nome}}
                        </option>
                    </select>
                    <button @click="falir()">Falir</button>
                    <button @click="fecharBannerFal()">Fechar</button>
                </div>

                <div class="rodape">
                    <p class="totalDinheiroEmJogo">💰 Total em jogo: R$ {{ totalDinheiro }}</p>
                    <navbar class="navbar">
                        <button class="Tranferir" @click="abrirBannerPix()">Pix</button>
                        <button class="adcionar" @click="abrirBannerAdd()">Add</button>
                        <button class="remover" @click="abrirBannerRem()">Remover</button>
                        <button class="falir" @click="abrirBannerFal()">Falir um jogador</button>
                    </navbar>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
